name: Test #Это ci. Ci выступает как единый источник правды, у 5 авто тестировщиков могут по-разному работать методы, а ci выступает как единый источник правды. Например, у тебя неправильно работает метод, а на ci все хорошо(или наоборот), значит ошибка у тебя локальная

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      #  Checkout
      - uses: actions/checkout@v4

      #  Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      #  Gradle permissions
      - name: Grant execute permission
        run: chmod +x gradlew

      # Run tests
      - name: Run tests
        run: ./gradlew clean test
        continue-on-error: true

      # Generate Allure report
      - name: Generate Allure report
        run: ./gradlew allureReport

      # Upload report to Pages
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/reports/allure-report/allure-report

  deploy:
    needs: tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4