name: Test #Это ci. Ci выступает как единый источник правды, у 5 авто тестировщиков могут по-разному работать методы, а ci выступает как единый источник правды. Например, у тебя неправильно работает метод, а на ci все хорошо(или наоборот), значит ошибка у тебя локальная

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      # Checkout репозитория
      - uses: actions/checkout@v4

      # Java 17 + Gradle cache
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Chrome info
        run: |
        google-chrome --version
        which google-chrome

      # Делаем gradlew исполняемым
      - name: Grant execute permission
        run: chmod +x gradlew

      # Установка UTF-8 для корректного отображения русских символов
      - name: Set UTF-8 encoding
        run: |
          export LANG=C.UTF-8
          export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8"

      # Запуск тестов с Selenide + Allure
      - name: Run tests
        run: |
          export SELENIDE_HEADLESS=true
          export SELENIDE_CHROME_OPTIONS="--no-sandbox --disable-dev-shm-usage"
          ./gradlew clean test
        continue-on-error: true

      # Генерация Allure отчёта
      - name: Generate Allure report
        run: ./gradlew allureReport

      # Деплой Allure на GitHub Pages
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/reports/allure-report/allureReport

  deploy:
    needs: tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4