name: Test #Это ci. Ci выступает как единый источник правды, у 5 авто тестировщиков могут по-разному работать методы, а ci выступает как единый источник правды. Например, у тебя неправильно работает метод, а на ci все хорошо(или наоборот), значит ошибка у тебя локальная

on: [push]

jobs:
  test:
    runs-on: ubuntu-runners #где запускаем
    steps: #что делаем
      - uses: actions/checkout@v5 #выкачиваем репозиторий
      - uses: actions/setup-java@v5 #настраиваем Java
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '17'
      - run: ./gradlew clean test #запускаем тесты